<!DOCTYPE html>
<html>
<head>
  <title>{{ name.primaryName }}</title>
</head>
<body>

<h1>{{ name.primaryName }}</h1>
{% if name.birthYear == NULL %}
<p>No data for birthYear</p>
{%else%} 
<p>Birth Year: {{ name.birthYear }}</p>
{% endif %}

{% if name.primaryProfession == NULL %}
<p>No data for Primary Profession</p>
{%else%} 
<p>Primary Profession: {{ name.primaryProfession }}</p>
{% endif %}

{% if name.img_url_asset == NULL %}
  <p>Photo: not available for this person</p> 
{% else %}
  <p>Photo</p>
    <img src="{{ image_url }}" alt="{{ name.primaryName }}">
{% endif %}



<hr>

<p>Back to <a href="/ntuaflix_api/name">Names</a></p>

</body>
</html> 