<!DOCTYPE html>
<html>
<head>
  <title>{{ primaryTitle }}</title>
</head>
<body>

<h1>{{ primaryTitle }}</h1>

<p>Title ID: {{ titleID }}</p>
<p>Type: {{ type }}</p>
<p>Original Title: {{ originalTitle }}</p>
{% if titlePoster == NULL %}
  <p>Title poster: not available for this title</p> 
{% else %}
  <p>Title Poster</p>
    <img src="{{ titlePoster }}" alt="{{ primaryTitle }}">
{% endif %}

<p>startYear: {{ startYear }}</p>

<p>endYear: {{ endYear }}</p>
<p>Genre: {{ genres }}</p>

{% if titleAkas == NULL%}
<p>There are no available Akas for this title</p>
{% else %}
<p>Title Akas: {{titleAkas}}</p>
{% endif %}

{% if principals == NULL%}
<p>There are no available principals for this title</p>
{% else %}
<p>principals: {{principals}}</p>
{% endif %}

{% if rating_object == NULL %}
<p>There are no available ratings for this title</p>
{% else %}
<p>Rating: {{rating_object}}</p>
{% endif %}
<hr>

<p>Back to <a href="/ntuaflix_api/title">Titles</a></p>

</body>
</html> 


