<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Data</title>
</head>
<body>
    <h1>Data Upload</h1>
    <ul>
        <li><a href="/ntuaflix_api/upload/title_basics">Upload Title Basics</a></li>
        <li><a href="/ntuaflix_api/upload/name_basics">Upload Name Basics</a></li>
        <li><a href="/ntuaflix_api/upload/title_akas">Upload Title Akas</a></li>
        <li><a href="/ntuaflix_api/upload/title_principals">Upload Title Principals</a></li>
        <li><a href="/ntuaflix_api/upload/title_ratings">Upload Title Ratings</a></li>
        <li><a href="/ntuaflix_api/upload/title_episodes">Upload Title Episodes</a></li>
        <li><a href="/ntuaflix_api/upload/title_crews">Upload Title Crews</a></li>

        <li><a href="/ntuaflix_api/upload/health_check">Healthcheck</a></li>


    
        <!-- Add more links as needed for other upload categories -->
    </ul>

</body>
</html>
